
{% extends 'base.html' %}
{% block content %}
<h3>Log In</h3>
<form>
    <div class="form-group row" style="margin: 3%;">
        <label class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-5">
            <input type="text" class="form-control border-dark" placeholder="Mr. Placeholder" required>
        </div>
    </div>
    <div class="form-group row" style="margin: 3%;">
        <label class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-5">
            <input type="password" class="form-control border-dark" required>
            <button type="submit" class="btn btn-outline-dark inline-block mt-3"
                style="background-color: darkgray;">Log in!</button>
        </div>
    </div>
    <div class="row" style="margin: 3%;">
        <a href="#">Create new account</a>
    </div>
</form>
{% endblock content %}
                
            