{% load static %}
<div class="rectangle rounded-lg" style="background-color: lightgray; max-width: 15rem; float: right">
    <div class="row mx-1">
        <p>{% block time %}
            {% endblock time %}</p>
    </div>
    <div class="row">
        <div class="col-2 mx-1">
        {% if question.author.upload %}
            <img src="{% static question.author.upload.url %}" class="mr-3 rounded-sm" alt="avatar" style="max-width: 3rem;">
        {% endif %}
        </div>
        <div class="col-10 mx-1">
            <p>{% block creator %}
                {% endblock creator %}</p>
        </div>
    </div>


</div>